<strong>Olá, {{ student }}</strong>
<p>Bem vindo(a) a academia GymHappy!</p>
<p>Estamos muito felizes por ter nos escolhido! Conte com a gente para te ajudar a alcançar seus objetivos!</p>
<p>Abaixo segue informações sobre a sua matrícula:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data de início: </strong> {{ start_date }} <br />
  <strong>Data de término: </strong> {{ end_date }} <br />
  <strong>Preço total: R$</strong> {{ price }} <br />
  <br />
  <small>
    Qualquer dúvida entre em contato com a nossa equipe.
  </small>
</p>
